.boxShadow {
  box-shadow: 0 0 10px white;
}

.modalTop {
  top: -4rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.hrModals {
  border-style: outset;
}

@media only screen and (max-width: 768px) {
  .Modal {
    width: 80%;
  }
} 
