body {
  background: #121212;
  font-family: 'Montserrat', sans-serif;
  color: #D8D8D8;
  overflow: hidden;
  margin: 0;
}

a:link{
  text-decoration: none;
}

.nav {
  background-image: linear-gradient(
    to left,
    rgb(249, 1, 2),
    rgb(104, 198, 90)
  );
}

.boxShadow {
  box-shadow: 0 0 10px red;
}

.modalTop {
  top: -4rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.hrModals {
  border-style: outset;
}

@media only screen and (max-width: 768px) {
  .Modal {
    width: 80%;
  }
}